.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.productBox {
  animation-duration: 1s;
  animation-name: bounceOut;
}

.productBox :hover {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-name: hoverProduct;
  animation-direction: alternate;
}

@keyframes hoverProduct {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.productBox .product-title {
  color: #0a0a0a;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-top: 5px;
}

.productBox .product-price {
  color: #4a4a4a;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.productBox:hover .product-title,
.productBox:hover .product-price {
  text-decoration: none;
}
