.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  padding-top: 1rem;
}

.productBox {
  animation-duration: 1s;
  animation-name: bounceOut;
}

.productBox :hover {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-name: hoverProduct;
  animation-direction: alternate;
  text-decoration: none !important;
}

@keyframes hoverProduct {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.productBox .product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.productBox .product-title {
  color: #4e4e4e;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-top: 5px;
  text-transform: uppercase;
}

.productBox .product-price {
  color: #c03002;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-bottom: 0;
}

.productBox:hover .product-title,
.productBox:hover .product-price,
.productBox .product-title:hover,
.productBox .product-price:hover {
  text-decoration: none !important;
}

.productBox .product-available {
  color: #59c08c;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: right;
}
